$dec = #3498db
$dec-hover = #3cb0fd
$inc = #d93434
$inc-hover = #fc3c3c

button
  -webkit-border-radius: 50
  -moz-border-radius: 50
  font-family: Arial
  text-decoration: none

.counter
  button
    padding: 10px 20px 10px 20px
    font-size: 30px
    border-radius: 50px
    color: #ffffff

  .btn-decrease
    background: $dec

  .btn-decrease:hover 
    background: $dec-hover
    text-decoration: none

  .btn-increase
    background: $inc

  .btn-increase:hover 
    background: $inc-hover
    text-decoration: none

  .button-list
    clear: both

.life
  .counter
    button
    .btn-decrease
      background: $inc

    .btn-decrease:hover 
      background: $inc-hover
      text-decoration: none

    .btn-increase
      background: $dec

    .btn-increase:hover 
      background: $dec-hover
      text-decoration: none
