@import "./const.styl"
input
  padding: 0
  margin: 0
  max-width: 80%

.counter-name
  float: left
  @media all and (min-width: 480px)
    font-size: FONT-BASE * 3
  @media all and (mmx-width: 480px)
    font-size: FONT-BASE * 2

.counter-value
  float: right
  @media all and (min-width: 480px)
    font-size: FONT-BASE * 3
  @media all and (mmx-width: 480px)
    font-size: FONT-BASE * 2

.flex-counter
  .counter-name
    margin-right: 0
    @media all and (min-width: 480px)
      font-size: FONT-BASE * 2
    @media all and (mmx-width: 480px)
      font-size: FONT-BASE * 1.5

