@import "../node_modules/normalize.css/normalize.css"

ul
  padding: 0
  list-style-type: none

@import "player.styl"
@import "counter.styl"
@import "button.styl"

.general-damages-list
  margin: 5px
