@import "./const.styl"

.player
  float: left

  margin-left: 10px
  margin-right: 10px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

.player-name
  @media all and (min-width: 480px)
    font-size: FONT-BASE * 5
  @media all and (max-width: 480px)
    font-size: FONT-BASE * 2.5

.player-li
  display: inline-block
  vertical-align: top
